<div class="main-container">
  <div class="form-container">

    <div class="result">
      <div class="result__percentage">
        14
      </div>
      <div class="result__description">
        Can choose someone better...
      </div>
    </div>

    <div class="names">
      <input type="text" class="name-input" placeholder="First">
      <input type="text" class="name-input" placeholder="Second">
    </div>

    <div class="button-container">
      <button class="btn-calculate">Calculate</button>
    </div>
  </div>
</div>