::ng-deep :root {
    --color-primary: #ff7ec3;
    --color-primary-dark: #ff299b;
    --color-primary-dark-rgb: 255, 41, 155;
    --color-primary-light: #ffd4Eb;
    --color-primary-light-rgb: 255, 212, 235;
}

::placeholder {
    color: lightgray;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    background-image: linear-gradient(to right bottom, 
                                rgba(var(--color-primary-dark-rgb), 0.8), 
                                rgba(var(--color-primary-light-rgb), 0.8)),
                                url(../assets/img/love-bg.jpg);  

    background-position: top;                        
    background-size: cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 30rem;

    .names {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.name-input {
    font-family: inherit;
    font-size: 1.5rem;
    color: var(--color-primary);
    text-align: center; 
    max-width: 12rem;
    border-radius: 40px;
    padding: 1rem;
    border: 1px solid lightgray;
    outline: none;
    box-shadow: 0 10px 6px -6px #777;
    transition: all .3s;
    margin: 0 auto 2rem auto;

    &:focus {
        transform: scaleX(1.1);
        border: 1px solid var(--color-primary-dark);
    }
}

.button-container {
    display: flex;
    justify-content: center;
}

.btn-calculate {
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 40px;
    border: 1px solid var(--color-primary-dark);
    outline: none;
    box-shadow: 0 10px 6px -6px #777;
    cursor: pointer;
    background-color: var(--color-primary-dark);
    color: var(--color-primary-light);
    transition: all .3s;

    &:active {
        transform: translateY(.5rem);
    }
}

.result {
    margin-bottom: 2.5rem;

    &__percentage {
        text-align: center;
        color: #fff;
        font-size: 7rem;
        line-height: 1;

        &::after {
            content: "%";
        }
    }

    &__description {
        text-align: center;
        color: #fff;
        font-size: 1.5rem;
    }
}