<div class="main-container">
  <div class="form-container">

    <div class="result" *ngIf="!calculating && calculated">
      <div class="result__percentage">{{ percentage }}</div>
      <div class="result__description">{{ description }}</div>
    </div>

    <div class="calculating" *ngIf="calculating">
      <div class="calculating__text">Calculating...</div>
    </div>

    <div class="names">
      <input type="text" class="name-input" placeholder="First" [formControl]="firstNameControl">
      <input type="text" class="name-input" placeholder="Second" [formControl]="secondNameControl">
    </div>

    <div class="button-container">
      <button class="btn-calculate" (click)="onCalculate()">Calculate</button>
    </div>
  </div>
</div>